
h1
{
	color: rgb(251, 255, 0); 
	font-size: 40px;
}
.body_background {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#mycanvas{
border-width: 10px;
background-color: ghostwhite;
border-style: solid;

}
